
@keyframes slideInFromBottom {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slideSide {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(4%);
    opacity: 1;
  }
}


body {
  background-color: #FDFDFD;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  padding-left: 13em;
  padding-top: 5em;
  padding-right:10em;
}

.nav a {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 0.75em;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  color: #AEAEAE;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-right: 2.8em;
}

.nav a:hover{
  color: #E15A32;
}

.nav card{
  width: 130px;
  height: 97px;
  margin-bottom: -60px;
  display: inline-block;
  align: right;
  background: url("./default.png") no-repeat;
}

.nav card:hover{
  background: url("./hovered.png") no-repeat;
}

.question {
  text-align: left;
  padding-left: 7em;
  padding-top: 3em;
  padding-bottom: 2em;
  font-family: 'Cabin', sans-serif;
  font-size: 2em;
  color: #C3C3C3;
  line-height: 1.4em;
  font-weight: 500;
}

.header {
  text-align: right;
  animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
  position: relative;
  right: 0px;
  padding-bottom: 0em;
  font-family: 'Cabin', sans-serif;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 800;
  line-height: 1.4em;
  color: #FDFDFD;
  width: 60%;
  padding-left: 20%;
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #E15A32;
   margin-top: 2em;

}

.subheader{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 0em;
  font-size: 0.3em;
  letter-spacing: 0.05em;
  color: #AEAEAE;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  -webkit-text-stroke-width: 0px;
  margin-top: -2em;
}

.subanswer a:hover{
  color: #E15A32;
}

.title {
  transform: rotate(-90deg);
	transform-origin: left top 0;
  font-family: 'Cabin', sans-serif;
  font-style: italic;
  font-weight: 700;
  color: #E4B7AA;
  font-size: 1.2em;
}

.content{
  padding-left: 10em;
  padding-bottom: 12em;
  margin-top: -7em;
}

.content .question {
  text-align: right;
  padding-left: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: 'Cabin', sans-serif;
  font-size: 2em;
  color: #AEAEAE;
  line-height: 1.4em;
  font-weight: 400;
}

.case {
animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
  font-family: Nunito, sans-serif;
  font-size: 0.85em;
  font-weight: 200;
  color: #5F5F5F;
  padding-top: 20em;
  width: 60%;
  left: 18em;
  bottom: 5em;
  position: relative;
}
.content img {
  animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
  display: block;
  width: 100%;
  align: left;
  margin-left: 0em;
  padding-bottom: 0em;
  margin-top: 0em;
  text-align: left;
  padding-left: 0em;
  padding-top: 0em;
}

.case a{
  color: #E15A32;
  text-decoration: none;
}

img {
  animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
  display: block;
  width: 80%;
  align: left;
  margin-left: 7em;
  padding-bottom: 10em;
  margin-top: -7em;
  text-align: left;
  padding-left: 2em;
  padding-top: 0em;
}

.footer {
  padding-left: 15.5em;
  padding-bottom: 8em;
  padding-right:10em;
}

.footer a {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  line-height: 0.75em;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  color: #AEAEAE;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-right: 2.8em;
}

.footer a:hover{
  color: #E15A32;
}
