
@keyframes slideInFromBottom {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slideSide {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(4%);
    opacity: 1;
  }
}


body {
  background-color: #FFFAF2;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  padding-left: 13em;
  padding-top: 5em;
  padding-right:10em;
}

.nav a {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 0.75em;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  color: #B6B1A9;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-right: 2.8em;
}

.nav a:hover{
  color: #072F53;
}

.nav card{
  width: 130px;
  height: 97px;
  margin-bottom: -60px;
  display: inline-block;
  align: right;
  background: url("./default.png") no-repeat;
}

.nav card:hover{
  background: url("./hovered.png") no-repeat;
}

.question {
  text-align: left;
  padding-left: 7em;
  padding-top: 6em;
  padding-bottom: 1em;
  font-family: 'Cabin', sans-serif;
  font-size: 2em;
  color: #C3BEB6;
  line-height: 1.4em;
  font-weight: 500;
}

.answer {
  text-align: right;
  animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
  position: relative;
  right: 0px;
  padding-bottom: 3em;
  font-family: 'Cabin', sans-serif;
  font-size: 2.25em;
  font-style: normal;
  font-weight: 800;
  line-height: 1.4em;
  color: #FFFAF2;
  width: 40%;
  padding-left: 40%;
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #072F53;

}

.answer a{
text-decoration: none;
color:inherit;
-webkit-text-stroke-width: 1.5px;
 -webkit-text-stroke-color: #072F53;

}

.answer a:hover{
  color: #072F53;
  font-weight: 700;
}
.answer img{
  width: 60%;
  margin-top: 40px;
  align-items: left;
  animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
  display: flex;
  margin-bottom: -14em;
  margin-left: -110%;
}

.subanswer{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 2em;
  font-size: 0.3em;
  letter-spacing: 0.05em;
  color: #C3BEB6;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  -webkit-text-stroke-width: 0px;
}

.subanswer a:hover{
  color: #C3BEB6;
}

.bioanswer {
  text-align: right;
  animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
  text-align: right;
  position: relative;
  right: 0px;
  bottom: 10px;
  font-family: 'Cabin', sans-serif;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 800;
  line-height: 1.4em;
  color: #FFFAF2;
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #072F53;

}

.about{
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 36%;
  padding-bottom: 5em;
  margin-top: 0em;
  width: 35%
}

.bio {
animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
  font-family: Nunito, sans-serif;
  font-size: 0.85em;
  font-weight: 200;
  color: #B6B1A9;
  text-align: right;
  padding-top: 1em;
}

img {
  animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
  display: block;
  width: 22%;
  align: left;
  margin-left: 7em;
  margin-top: -30em;
  padding-bottom: 4em;
  text-align: left;
  padding-left: 7em;
  padding-top: 0em;
  padding-bottom: 10em;
}

.footer {
  padding-left: 14em;
  padding-bottom: 4em;
  padding-top: 10em;
  padding-right:10em;
  z-index: 999;
}

.footer a {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  line-height: 0.75em;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  color: #B6B1A9;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-right: 2.8em;
  z-index: 999;
  position: relative;
}

.footer a:hover{
  color: #072F53;
}
